.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #4278a8;
}
.app__body {
  display: flex;
  background-color: #d4e6f1;
  margin-top: -50px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 25px -5px rgba(0, 0, 0, 0.75);
}
.app__login {
  background-color: #a2d9ce;
  display: grid;
  place-items: center;
  height: 100vh;
}
